<%= stylesheet_link_tag "application" %>

<h1><%= @zines.count %> Zines</h1>

<table id='zines'>
  <tr id='headers'>
    <% for attribute in @zines.first.attributes.keys %>
      <th><%= attribute.humanize %></th>
    <% end %>
  </tr>
  <% @zines.each do |zine| %>
    <tr>
      <% for attribute in zine.attributes.keys %>
        <td><%= zine.attributes[attribute].to_s %></td>
      <% end %>
    </tr>
  <% end %>
</table>
