<h1><%= @zine.title.to_s %></h1>

<% for attribute in @zine.attributes.keys %>
  <span class='attribute'><%= attribute.humanize %>: <%= @zine.attributes[attribute].to_s %></br></span>
<% end %>

<%= link_to 'Back', new_zine_path %>
