body {
  font-family: 'arial', 'sans-serif';
  background-color: #63193E;
  .new_zine_input {
    label {
      display: inline-block;
      width: 200px;
      padding: 10px;
    }
    input {
      height: 26px;
      width: 156px;
      margin-bottom: 15px;
    }
  }
  table#zines {
    border-collapse: collapse;
    th {
      background-color: #CC297A;
    }
    td {
      background-color: #FCCFF1;
    }
    td,th {
      min-width: 87px;
      padding: 2px 7px;
      border: 1px solid black;
    }
  }
}
